:root{
    --letra1:'Lato', sans-serif;
    --letra2: 'Noto Sans', sans-serif;
}
body{
    overflow-x: hidden;
}
*{
    padding: 0px;
    margin: 0px;
     font-family: var(--letra1);
     /* background: black; */
     
}
.img{
    background: url(../img/junglaM.png);
    width: 200vw;
    height:600px;
   transform: rotate(25deg);
   left: -200px;
   top: -450px;
   position: relative;
   z-index: 0;
}
.todo{
    z-index: 0;
    position: absolute;
    top:0;
    width: 100%;
    height: 100%;
}
.titulo{
    /* top: -600px; */
    position: relative;
    width: 100%;
    height: 100px;
    background: url(../img/junglaM.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3%;
    padding-left: 8%;
    box-sizing: border-box;
}
.titulo h1{ 
    color: white;
    font-size: 2rem;
}
.buscar{
    /* border-bottom: 1rem white; */
    border-top: 0ch;
    border-left: 0ch;
    border-right: 0ch;
    width: 85%;
    background: none;
    border-color: white;
}
.opciones{
    width: 100%;
    z-index: 99999;
    margin-top: 1rem;
    position: relative;
    padding: 5%;
    padding-top: 5%;
    float: left;
    margin-bottom: 10px;
    box-sizing: border-box;
        height: 2rem;
        z-index: 99999;
        align-items: center;
        display: flex;
        justify-content: center;
}
textarea{
    resize: none;
    font-size: 1rem;
    letter-spacing: 1px;
}

.op{
    width: 6rem;
    cursor: pointer;
    position: relative;
    float: left;
    height: 1.5rem;
    margin-left: 1.2rem;
    /* background: blue; */
    text-align: center;
    padding: .5%;
    box-sizing: border-box;
    color: grey;
    border-radius: 12px;
}
.op:hover{
    background: rgba(64, 33, 74, 0.95);
    color:white;
}
.op1{
    background:rgba(64, 33,74,.95);
    color: white;
        box-shadow: -3px 10px 10px -12px rgba(0, 0, 0, 0.72);
}
.contenedores{
    width: 100%;
    height: calc(100vh - 11rem);
    overflow-y: scroll;
    /* background: lawngreen; */
    /* top: -120vh; */
    position: relative;
    float: left;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 3%;
    box-sizing: border-box;
    overflow-y: scroll;
}
.contenedor{
    width: 100%;
    height: 4rem;
    cursor: pointer;
    background: white;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.17);
     /* box-shadow: 5px 10px 10px -10px rgba(0, 0, 0, 0.72); */
}
.lado{
    width:20%;
    height: 100%;
    position: relative;
    float: right;
    margin-top: -40px;
    /* background: saddlebrown; */
    font-family: var(--letra1);
}
.lado p{
    position: relative;
    font-size: .9rem;
    margin-bottom: 5px;
text-align: center;
    color: #007E94;
    /* float: right; */
}
.mas{
    width: 15%;
    height: 100%;
    cursor: pointer;
    /* background: url(../img/puntos.svg); */
    /* background-size: contain; */
    /* background: lightblue; */
    position: relative;
    float: right;
    display: flex;
    /* align-content: center; */
    align-items: center;
    color: silver;
    /* padding: 3%; */
    font-size: 1.5rem;
    box-sizing: border-box;
}
.ii{
    width: 100%;
    height: 100%;
}
.numM{
    background: palevioletred;
    width: 23px;
    height: 23px;
    /* position: relative; */
    float: right;
    margin-right: 25%;
    box-sizing: border-box;
    text-align: center;
    border-radius: 50%;
    padding: 1%;
}
.numM>p{
    color: white;
    /* display: flex; */
    /* align-self: center; */
    font-size: .9rem;
}
.imgUsuario{
    background: url(../img/usuario.svg);
    /* background: silver; */
    border-radius: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    width: 3rem;
    height: 3rem;
    position: relative;
    float: left;
    margin-right: 1rem;
}
footer{
    width: 100%;
    height: 3rem;
    position: fixed;
    bottom: 0;
    padding-right: 3%;
    padding-left: 3%;
    box-sizing: border-box;
    z-index: 999999;
}
.Icon{
    position: relative;
    float: left;
    width: calc(100%/6);
    /* margin-left: calc(100%/6); */
    margin-left: 10%;
    height: 100%;
    /* border: 1px white; */
    /* text-align: center; */
    font-size: 3ex;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    color: gray;
}
.chats{
    border-top-color: #007E94;
}
.chats:hover{
    color: brown;
    /* border-top: 1px brown; */
}
.Icon:hover{
    border-top: 1px brown;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    border-style: solid;
    color: brown;
}


.cabecera{
    width: 100%;
    height: 3rem;
    /* padding: 2%; */
    box-sizing: border-box;
    background: url(../img/junglaM.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.atras{
    position: relative;
    width: 10%;
    cursor: pointer;
    /* height: 100%; */
    text-align: center;
    font-size: 2rem;
    /* padding: 1%; */
    color: white;
    box-sizing: border-box;
    position: relative;
    float: left;
    /* background: orange; */
}
.Coon{
    margin-top: 1.5%;
    width: 2rem;
    height: 2rem;
    float: left;
    position: relative;
}
.nombreP{
    height: 100%;
    width: 40%;
    padding-top: 2.6%;
    box-sizing: border-box;
    /* background: pink; */
    position: relative;
    float: left;
    color: white;
    font-size: 1.2rem;
}
.derecha{
    float: right;
    position: relative;
    width: 10%;
    height: 100%;
    cursor: pointer;
    text-align: center;
    color: white;
    padding-top: 2.6%;
    box-sizing: border-box;
    font-size: 1.2rem;
}
.mensajes{
    width: 100%;
    height: calc(100vh - 8rem);
    overflow-y: scroll;
    /* background: red; */
    padding: 3%;
    box-sizing: border-box;
}
 ::-webkit-scrollbar {
     width: 10px;
     /* display: none; */
 }
 textarea::-webkit-scrollbar-track{
     background: #d1cece;
 }
 ::-webkit-scrollbar-track {
     background: white;
     /* background: transparent; */
 }

 ::-webkit-scrollbar-thumb {
     border-radius: 10px;
     background: rgb(214, 185, 189);
 }

.fecha{
    width: 4rem;
    height: 1.5rem;
    background: rgba(142, 199, 211, 0.431);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-left: 40%;
    color: rgba(3, 3, 3, 0.459);
    font-size: .8rem;
}
.enviado{
    width: 100%;
    height: auto;
    /* background: red; */
    padding: 1rem;
    box-sizing: border-box;
    margin-bottom: 1rem;
}
.mensaje{
    max-width: 13rem;
    background: lightblue;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    float: left;
    box-sizing: border-box;
    word-wrap: break-word
}
.basura{
    margin-left: 20px;
    margin-top: 3%;
    cursor: pointer;
    font-size: 1rem;
    color: rgba(128, 128, 128, 0.568);
}
.hora{
    font-size: .7rem;
    margin-top: 15px;
}
.recibido{
    width: 100%;
    padding: 1rem;
    /* background: palevioletred; */
    margin-bottom: 10px;
    box-sizing: border-box;
}
.mensajeR{
    width: 13rem;
    background: rgb(68, 161, 192);
    padding: 10px;
    border-radius: 10px;
    position: relative;
    float: right;
    box-sizing: border-box;
}
.basuraR{
    float: right;
    margin-right: 20px;
    margin-top: 3%;
    
    color: rgba(128, 128, 128, 0.568);
}
.horaR{
    font-size: .7rem;
    /* float: right; */
    /* position: relative; */
    margin-top: 45px;
    margin-left: 92%;
}
.texto{
    width: 90%;
}
.abajoM{
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    height: 3.5rem;
    position: fixed;
    /* background: gray; */
    bottom: 0px;
    padding: 2%;
    box-sizing: border-box;
}
.textoM{
    width: 95%;
    height: 100%;
    border-radius: 15px;
    background: rgba(194, 190, 190, 0.753);
}
.archivos{
    width: 10%;
    height: 100%;
    position: relative;
    float: left;
    /* background:fuchsia; */
    text-align: center;
    padding: 1.55%;
    color: lightseagreen;
    box-sizing: border-box;
}
.mensajeT{
    width: 80%;
    height: 100%;
    padding: 5px; box-sizing: border-box;
    border-style: none;
    background: none;
    outline: none;
    color: gray
}
.enviar{
     width: 10%;
     height: 100%;
     position: relative;
     float: right;
     text-align: center;
     padding: 1.55%;
     color: lightseagreen;
     box-sizing: border-box;
}
.textCon{
    margin-top: 2.5%;
}
.masCon{
    margin-top: .5rem;
}

.agregar{
    width: 100%;
    height: 2rem;
   background:rgba(64, 33, 74, .95);
   color: white;
   padding: 10px;
   box-sizing: border-box;
   border-style: none;
   cursor: pointer;
   display: flex;
   flex-direction: row;
   margin-bottom: 1rem;
   border-radius: 15px;
}
.agregar:hover{
    background:rgba(64, 33, 74, 0.801);
}
.agregar i{
    margin-left: 10px;
    margin-right: 10px;
}
.nuevoCon{
    
    position:absolute;
    width: 70%;
    height: 19rem;
    z-index: 999999;
    left: 15%;
    background: white;
    padding: 20px;
    box-sizing: border-box;
    display: flex ;
    display: none ;
    flex-direction: column;
    border-radius: 10px;
    color: rgba(51, 50, 50, 0.794);
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.17);
    /* box-shadow: 3px 10px 30px 8px rgba(179, 179, 179, 0.66); */
}
.nuevoCon i{
    position: absolute;
    right: 20px;
    font-size: 1.2rem;
    color: darkgrey;
    cursor: pointer;
}
.nuevoCon h4, .nuevoCon h3{
    margin-top: 1rem;
    margin-left: 25%;
    margin-bottom: .5rem;
}
.mail{
    margin-left: 38% !important;
}
.cuadrito{
    display:none;
    width: 4rem;
    position: absolute;
    float: left;
    left: -3rem;
    top: 2.5rem;
    z-index: 999999;
    height: 4rem;
    background: white;
    box-shadow: 3px 8px 40px -2px rgba(179, 179, 179, 0.66);
}
.nuevoCon input{
   border-radius: 10px;
   color: #57595a;
   width: 10rem;
   height: 3rem;
   padding: 0 16px;
   border: none;
   margin-left: 15%;
   background: #d1cece;
   border-bottom: 2px solid #EEEEEE;
   border-right: 2px solid #EEEEEE;
   outline: none;
}
.nuevoCon button{
    width: 30%;
    height: 2rem;
    border-radius: 10px;
    outline: none;
    border-style: none;
    margin-left: 34%;
    margin-top: 1rem;
   background-color: rgb(1, 82, 97);
   color: white;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.PERFIL{
     align-content: center;
     box-sizing: border-box;
     display: flex;
     padding: 5%;
     justify-content: center;
     align-items: center;
}
.imgPerfil{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background: wheat;
    margin-bottom: 1.5rem;
}
.nombreUsuario, .contra{
    border-style: none;
    margin-right: 35%;
    font-size: .95rem;
    color: lightgray !important;
}
.correo{
    border-style: none;
    margin-right: 50%;
    font-size: .95rem;
    color: darkgrey;
}
.Per{
    color: rgb(26, 25, 25);
    font-size: 1rem;
    height: 3rem;
    margin-bottom: .5rem;
    margin-top: 1rem;
    background: none;
}
.salir{
    border-style: none;
    background: #d3d3d3ce;
    width: 8rem;
    height: 2.5rem;
    outline: none;
    font-size: 1rem;
    border-radius: 15px;
    color: #57595a;
    margin-left: -14rem;
    margin-top: 4rem;
}
.salir:hover{
    background: rgba(85, 145, 155, 0.883);
}


@media (min-width:320px) and (max-width:767px) {
    .CONTACTOS {
        display: none;
        /* background: gold; */
    }

    .PERFIL {
        display: none;
        background: white;
    }

    .CONVER {
        display: none;
        background: white;
    }
    .form{
        text-align: center;
    }

    .nombreUsuario,
    .contra {
        width: 6rem;
        padding: 4px;
        box-sizing: border-box;
        border-style: none;
        margin-right: 0%;
        font-size: .95rem;
        text-align: center;
        color: lightgray !important;
    }

    .correo {
        border-style: none;
        margin-right: 0%;
        font-size: .95rem;
        color: darkgrey;
    }

    .abajo{
        display: block;
    }
    .Per {
        color: rgb(26, 25, 25);
        font-size: 1rem;
        height: 2rem;
        margin-bottom: 1rem;
        margin-top: 1rem;
        background: none;
        padding-left: 0;
        padding: 0;
    }

}


@media (min-width:768px) {
    .CHATS{
        width: 34%;
        position: relative;
        float: left;
    }
    .CONTACTOS {
            display: none;
            background: white;
            position: absolute;
            float: left;
            width: 35%;
            left: 3%;
    }

    .PERFIL {
        display: none;
        background: white;
         position: absolute;
         float: left;
         width: 35%;
         left: 3%;
    }

    .CONVER {
               display: block;
               background: white;
               position: relative;
               border-style: solid;
               float: right;
               width: 61.4%;
               /* border: 1px; */
               border-left-width: 1px;
               border-color: gainsboro;
               border-bottom: 0;
               height: 100vh;
               border-top: 0;
               border-right: 0;
    }
     footer{
         position: relative;
         width: 4%;
         height: 100vh;
         float: left;
         background: url(../img/junglaM.png);
         background-size: cover;
         background-repeat: no-repeat;
         padding: 0;
         display: flex !important;
         flex-direction: column;
         align-content: center;
         justify-content: center;
         align-items: center;
     }

     /* #chat:hover{
         color: white;
     }
     #conver:hover{
        color: white;
    }
    #perfil:hover{
        color: white;
    } */
     #iconChat{
        margin-left: 0%;
        /* background-color: #E36363; */
        opacity: 0.7;
        color: gainsboro;
        width: 100%;
        height: 150px;
    }
    #iconContactos{
        margin-left: 0%;
        /* background-color: #30A191; */
        opacity: 0.7;
        color: gainsboro;
        width: 100%;
        height: 150px;
    } 
    #iconPerfil{
        margin-left: 0%;
        color: gainsboro;
        /* background-color: #8A3463; */
        opacity: 0.7;
        width: 100%;
        height: 150px;
    }

    #iconChat:hover{
        background-color: #30A191;
        color: brown;
        /* background-color: #E36363; */
        /* opacity: 0.7; */

    }
    #iconContactos:hover{
        color: brown;
        background-color: #30A191;
        /* opacity: 0.7; */

    }
    #iconPerfil:hover{
        color: brown;
        background-color: #30A191;
        /* background-color: #8A3463; */
        /* opacity: 0.7; */

    }
     .Icon{
        position: relative;
        float: left;
        width: calc(100%/6);
        margin-left: 11%;
        height: 100%;
        font-size: 3ex;
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: center;
        color: white;
        }

       

     .abajoM{
         padding: 10px;
         width: 60%;
     }
     .titulo{
         background: none;
         color: gray;
     }
     .titulo h1{
         color: gray;
     }
     .buscar{
        border-color: gray;
        outline: none;
        width: 90%;
        color: gray;
        margin-top: 1.5rem;
        font-size: 1rem;
        padding: 5px;
     }
     .cabecera{
        background: none;
        border-top: 0ch;
        border-left: 0ch;
        border-right: 0ch !important;
        border-bottom: 1px;
        border-style: solid;
        width: 100%;
        padding: 2px;
        box-sizing: border-box;
        background: none;
        /* border-color: rgba(211, 211, 211, 0.294); */
        border-color: gainsboro;
    
     }
     .derecha{
             float: right;
             width: 10%;
             height: 100%;
             text-align: center;
             color: white;
             padding-top: 1.3%;
             box-sizing: border-box;
             font-size: 1.2rem;
     }
     .nombreP{
         padding-top: 1.3%;
     }
     .Coon{
         margin-top: .8%;
     }
     .atras, .nombreP, .derecha{
         color: gray;
     }
     .archivos, .enviar{
         padding: 1%;
     }

     .agregar{
         width: 90%;
         margin-left: 5%;
         overflow: hidden;
         outline: none;
     }
}