:root{
    --letra1:'Lato', sans-serif;
    --letra2: 'Noto Sans', sans-serif;
}
body{
    overflow-x: hidden;
}
*{
    padding: 0px;
    margin: 0px;
     font-family: var(--letra1);
     /* background: black; */
     
}
.img{
    background: url(../img/junglaM.png);
    width: 200vw;
    height:600px;
   transform: rotate(25deg);
   left: -200px;
   top: -450px;
   position: relative;
   z-index: 0;
}
.todo{
    z-index: 0;
    position: absolute;
    top:0;
    width: 100%;
    height: 100%;
}
.titulo{
    /* top: -600px; */
    position: relative;
    width: 100%;
    height: 100px;
    background: url(../img/junglaM.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3%;
    padding-left: 8%;
    box-sizing: border-box;
}
.titulo h1{
    color: white;
    font-size: 2rem;
}
.buscar{
    /* border-bottom: 1rem white; */
    border-top: 0ch;
    border-left: 0ch;
    border-right: 0ch;
    width: 85%;
    background: none;
    border-color: white;
}
.opciones{
    width: 100%;
    height: 0px;
    /* top:-600px; */
    z-index: 99999;
    position: relative;
    padding: 5%;
    padding-top: 5%;
    float: left;
    margin-bottom: 10px;
    box-sizing: border-box;
    /* background: darkcyan; */
}
.op{
    width: 6rem;
    position: relative;
    float: left;
    height: 1.5rem;
    margin-left: 1.2rem;
    /* background: blue; */
    text-align: center;
    padding: .5%;
    box-sizing: border-box;
    color: grey;
    border-radius: 12px;
}
.op1{
    background:rgba(64, 33,74,.95);
    color: white;
        box-shadow: -3px 10px 10px -12px rgba(0, 0, 0, 0.72);
}
.contenedores{
    width: 100%;
    height: calc(100vh - 10rem);
    /* background: lawngreen; */
    /* top: -120vh; */
    position: relative;
    float: left;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 3%;
    box-sizing: border-box;
    overflow-y: scroll;
}
.contenedor{
    width: 100%;
    height: 4rem;
    background: white;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
     box-shadow: 5px 10px 10px -10px rgba(0, 0, 0, 0.72);
}
.lado{
    width:20%;
    height: 100%;
    position: relative;
    float: right;
    margin-top: -40px;
    /* background: saddlebrown; */
    font-family: var(--letra1);
}
.lado p{
    position: relative;
    font-size: .9rem;
    margin-bottom: 5px;
text-align: center;
    color: #007E94;
    /* float: right; */
}
.mas{
    width: 15%;
    height: 100%;
    /* background: url(../img/puntos.svg); */
    /* background-size: contain; */
    /* background: lightblue; */
    position: relative;
    float: right;
    display: flex;
    /* align-content: center; */
    align-items: center;
    color: silver;
    /* padding: 3%; */
    font-size: 1.5rem;
    box-sizing: border-box;
}
.ii{
    width: 100%;
    height: 100%;
}
.numM{
    background: palevioletred;
    width: 23px;
    height: 23px;
    /* position: relative; */
    float: right;
    margin-right: 25%;
    box-sizing: border-box;
    text-align: center;
    border-radius: 50%;
    padding: 1%;
}
.numM>p{
    color: white;
    /* display: flex; */
    /* align-self: center; */
    font-size: .9rem;
}
.imgUsuario{
    background: url(../img/usuario.svg);
    /* background: silver; */
    border-radius: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    width: 3rem;
    height: 3rem;
    position: relative;
    float: left;
    margin-right: 1rem;
}
footer{
    width: 100%;
    height: 3rem;
    position: fixed;
    bottom: 0;
    /* background: rebeccapurple; */
    padding-right: 3%;
    padding-left: 3%;
    box-sizing: border-box;
    z-index: 999999;
}
.Icon{
    position: relative;
    float: left;
    width: calc(100%/6);
    /* margin-left: calc(100%/6); */
    margin-left: 11%;
    height: 100%;
    /* border: 1px white; */
    /* text-align: center; */
    font-size: 3ex;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    color: gray;
}
.chats{
    border-top-color: #007E94;
}
.chats:hover{
    color: brown;
    /* border-top: 1px brown; */
}
.Icon:hover{
    border-top: 1px brown;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    border-style: solid;
    color: brown;
}


.cabecera{
    width: 100%;
    height: 3rem;
    /* padding: 2%; */
    box-sizing: border-box;
    background: url(../img/junglaM.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.atras{
    position: relative;
    width: 10%;
    /* height: 100%; */
    text-align: center;
    font-size: 2rem;
    /* padding: 1%; */
    color: white;
    box-sizing: border-box;
    position: relative;
    float: left;
    /* background: orange; */
}
.Coon{
    margin-top: 1.5%;
    width: 2rem;
    height: 2rem;
    float: left;
    position: relative;
}
.nombreP{
    height: 100%;
    width: 40%;
    padding-top: 2.6%;
    box-sizing: border-box;
    /* background: pink; */
    position: relative;
    float: left;
    color: white;
    font-size: 1.2rem;
}
.derecha{
    float: right;
    position: relative;
    width: 10%;
    height: 100%;
    text-align: center;
    color: white;
    padding-top: 2.6%;
    box-sizing: border-box;
    font-size: 1.2rem;
}
.mensajes{
    width: 100%;
    height: calc(100vh - 8rem);
    overflow-y: scroll;
    /* background: red; */
    padding: 3%;
    box-sizing: border-box;
}
 ::-webkit-scrollbar {
     width: 10px;
     /* display: none; */
 }

 ::-webkit-scrollbar-track {
     background: purple;
     /* background: transparent; */
 }

 ::-webkit-scrollbar-thumb {
     border-radius: 10px;
     background: white;
 }

.fecha{
    width: 4rem;
    height: 1.5rem;
    background: rgba(142, 199, 211, 0.431);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-left: 40%;
    color: rgba(3, 3, 3, 0.459);
    font-size: .8rem;
}
.enviado{
    width: 100%;
    height: auto;
    /* background: red; */
    padding: 1rem;
    box-sizing: border-box;
}
.mensaje{
    width: 13rem;
    background: lightblue;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    float: left;
    box-sizing: border-box;
}
.basura{
    margin-left: 20px;
    margin-top: 3%;
    color: rgba(128, 128, 128, 0.568);
}
.hora{
    font-size: .7rem;
    margin-top: 15px;
}
.recibido{
    width: 100%;
    padding: 1rem;
    /* background: palevioletred; */
    margin-bottom: 10px;
    box-sizing: border-box;
}
.mensajeR{
    width: 13rem;
    background: rgb(68, 161, 192);
    padding: 10px;
    border-radius: 10px;
    position: relative;
    float: right;
    box-sizing: border-box;
}
.basuraR{
    float: right;
    margin-right: 20px;
    margin-top: 3%;
    color: rgba(128, 128, 128, 0.568);
}
.horaR{
    font-size: .7rem;
    /* float: right; */
    /* position: relative; */
    margin-top: 45px;
    margin-left: 92%;
}
.abajoM{
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    height: 3.5rem;
    position: fixed;
    /* background: gray; */
    bottom: 0px;
    padding: 2%;
    box-sizing: border-box;
}
.textoM{
    width: 95%;
    height: 100%;
    border-radius: 15px;
    background: rgba(194, 190, 190, 0.753);
}
.archivos{
    width: 10%;
    height: 100%;
    position: relative;
    float: left;
    /* background:fuchsia; */
    text-align: center;
    padding: 2%;
    color: lightseagreen;
    box-sizing: border-box;
}
.mensajeT{
    width: 80%;
    height: 100%;
    padding: 5px; box-sizing: border-box;
    border-style: none;
    background: none;
    outline: none;
    color: gray
}
.enviar{
     width: 10%;
     height: 100%;
     position: relative;
     float: right;
     text-align: center;
     padding: 2%;
     color: lightseagreen;
     box-sizing: border-box;
}


@media (min-width:320px) and (max-width:767px) {
    .CONTACTOS {
        display: none;
        background: gold;
    }

    .PERFIL {
        display: none;
        background: lightcoral;
    }

    .CONVER {
        display: none;
        background: white;
    }

}


@media (min-width:768px) {
    .CHATS{
        width: 35%;
        position: relative;
        float: left;
    }
    .CONTACTOS {
        display: block;
        background: gold;
        position: relative;
        float: left;
    }

    .PERFIL {
        display: none;
        background: lightcoral;
         position: relative;
         float: left;
    }

    .CONVER {
        display: block;
        background: white;
         position: relative;
         float: left;
         width: 62%;
    }
     footer{
         position: relative;
         width: 3%;
         height: 100vh;
         float: left;
         background: url(../img/junglaM.png);
         background-size: cover;
         background-repeat: no-repeat;
         padding: 0;
         display: flex;
         flex-direction: column;
         align-content: center;
         justify-content: center;
         align-items: center;
     }
     .abajoM{
         padding: 10px;
         width: 60%;
     }
     .titulo{
         background: none;
         color: gray;
     }
     .titulo h1{
         color: gray;
     }
     .buscar{
        border-color: gray;
        outline: none;
     }
     .cabecera{
         background: none;
        border-top: 0ch;
        border-left: 0ch;
        border-right: 0ch;
        width: 100%;
        padding: 2px;
        box-sizing: border-box;
        background: none;
        border-color: rgba(211, 211, 211, 0.294);
         /* border: 1px rgba(211, 211, 211, 0.294); */
     }
     .atras, .nombreP, .derecha{
         color: gray;
     }
}